@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}

.app-root {
  padding: 2% 0;
}

.theme-light {
   background: #fff;
   color: #36394c;
}
.theme-dark {
   background: #36394c;
   color: #fff;
}

/* Global */
svg {
  width: 1.5rem;
}

button.icon {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 0.2rem;
  height: 100%;

  display: flex;
  align-items: center;
}