@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --background: #ffffff;
  --text-primary: #36394c;
  --icon-size: 1.5rem;
  --icon-color: #f4b41a;
}

html[data-theme='dark'] {
  --background: #36394c;
  --text-primary: #ffffff;
  --icon-color: #ffffff;
}

body {
  margin: 0;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;

  color: var(--text-primary);
  background-color: var(--background);
}

.app-root {
  padding: 2% 0;
}

/* Global */
svg {
  width: var(--icon-size);
  fill: var(--icon-color);
}

button.icon {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 0.2rem;
  height: 100%;

  display: flex;
  align-items: center;
}